clean_articles.txt
/data
simpleRNN/__pycache__
simpleRNN/clean_articles.csv
simpleRNN/temp_articles.csv
simpleRNN/dict.pickle
simpleRNN/train.csv
simpleRNN/config.pyc
simpleRNN/clean_articles_val.csv
simpleRNN/dictVal.pickle
simpleRNN/termToId.pickle
simpleRNN/validate.csv
LogRegression/__pycache__
LogRegression/clean_articles_val.csv
LogRegression/dict.pickle
LogRegression/dictVal.pickle
LogRegression/temp_articles.csv
LogRegression/termToId.pickle
LogRegression/train.csv
LogRegression/validate.csv
LogRegression/clean_articles.csv
